<footer class="container">
  <div class="row p-4">
    <div class="links col-12 col-sm-3">
      <h5>Links</h5>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Menu</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-6">
      <h5>Our Address</h5>
      <address>
        214, King Street West
        <br> Downtown, Toronto
        <br> ONTARIO
        <br> <fa-icon icon="phone"><span class="sr-only">Phone</span></fa-icon>: +416 1234 5678
        <br> <fa-icon icon="fax"><span class="sr-only">Fax</span></fa-icon>: +416 8765 4321
        <br> <fa-icon icon="envelope"><span class="sr-only">Email</span></fa-icon>:
        <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
      </address>
    </div>
    <div class="col-12 col-sm-3">
      <div class="social-icons">
        <a class="google" href="http://google.com/+"><fa-icon [icon]="['fab', 'google-plus-square']" size="2x"></fa-icon><span class="sr-only">Google+</span></a>
        <a class="facebook" href="http://www.facebook.com/profile.php?id="><fa-icon [icon]="['fab', 'facebook-square']" size="2x"></fa-icon><span class="sr-only">Facebook</span></a>
        <a class="linkedin" href="http://www.linkedin.com/in/"><fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon><span class="sr-only">LinkedIn</span></a>
        <a class="twitter" href="http://twitter.com/"><fa-icon [icon]="['fab', 'twitter-square']" size="2x"></fa-icon><span class="sr-only">Twitter</span></a>
        <a class="youtube" href="http://youtube.com/"><fa-icon [icon]="['fab', 'youtube-square']" size="2x"></fa-icon><span class="sr-only">YouTube</span></a>
        <a class="email" href="mailto:"><fa-icon [icon]="['far', 'envelope']" size="2x"></fa-icon><span class="sr-only">Mail</span></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>© Copyright 2015 Ristorante Il Fornello</p>
    </div>
  </div>
</footer>
