$dark-purple: rgb(48, 63, 153);
$light-purple: rgb(121, 134, 203);

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
